.product-list {
  &__grid {
    margin-bottom: 30px;

    .product-list__item {
      padding: 20px;

      .product__small {
        .product__img {
          position: relative;

          .product__after {
            transition: opacity 0.5s ease-in;
          }

          .product__before {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.5s ease-in;
          }
        }

        .product__img:hover .product__after {
          opacity: 0;
        }

        .product__img:hover .product__before {
          opacity: 1;
        }

        .product__des {
          padding: 10px;
          text-align: center;

          p {
            margin-bottom: 6px;
            color: #676767;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
          }

          .des-price {
            span {
              color: #606060;
              font-size: 17px;
              font-weight: 650;
            }
          }
        }
      }
    }
  }
}
