.cart-infor {
  table {
    width: 100%;
    margin-bottom: 30px;

    tfoot {
      tr {
        border-bottom: 1px solid #ccc;
        th {
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          padding: 8px 8px 8px 0;
          color: #676767;
          font-size: 17px;
          font-family: Roboto, sans-serif;
        }
        td {
          text-align: right;
        }
      }
    }
  }

  .el-form {
    h3 {
      font-weight: 600;
      text-transform: none;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
      color: #676767;
      font-size: 18px;
      margin-bottom: 14px;
      font-family: Roboto, sans-serif;

      .el-icon {
        margin-right: 6px;
        font-size: 20px;
      }
    }
  }

  &__payment {
    margin-bottom: 20px;

    h3 {
      font-weight: 600;
      text-transform: none;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
      color: #676767;
      font-size: 18px;
      margin-bottom: 14px;
      font-family: Roboto, sans-serif;

      .el-icon {
        margin-right: 6px;
        font-size: 20px;
      }
    }

    ul {
      .el-form-item {
        margin-bottom: 0;

        .el-form-item__content {
          display: block;

          .el-radio-group {
            display: flex;
            flex-direction: column;
            align-items: normal;

            .cart-infor__payment__item {
              display: flex;
              flex-direction: column;
              background: #ededed;
              margin-bottom: 15px;
              border-radius: 12px;
              padding: 22px;
              flex: 1;
              text-align: left;

              .item-des {
                padding-left: inherit;

                h5 {
                  font-size: 17px;
                  color: #222222;
                  font-weight: 550;
                  font-family: Roboto, sans-serif;
                }

                p {
                  color: #676767;
                  font-size: 16px;
                }
              }

              .el-radio__label {
                padding-left: 16px;
                color: #222222;
                font-size: 16px;
                font-weight: 650;
              }
            }
          }
        }
      }
    }

    &__add {
      button {
        width: 100%;
        border-radius: 12px;
        font-weight: 600;
        padding: 18px;
        margin-top: 20px;
        color: #fff;
        font-family: Roboto, sans-serif;
        font-size: 16px;
      }
    }
  }
}
