.header-dashboard {
  width: calc(100% - 300px);
  height: 60px;
  position: fixed;
  top: 0;
  left: 300px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(198, 197, 197, 0.5);
  z-index: 10;

  &__search {
    width: 330px;
    display: flex;
    margin-left: 44px;
    @apply items-center;

    .el-input__wrapper {
      box-shadow: none;

      &.is-focus {
        box-shadow: none;
      }

      .el-input__inner {
        width: 600px;
      }
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;

    &__notify {
      padding-right: 50px;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #c0c4cc;
      margin-top: 8px;
    }

    &__profile {
      @apply flex items-center mr-4;

      span {
        font-weight: 700;
      }

      .el-icon--right {
        color: #c0c4cc;
        // margin-left: 0;
      }
    }
  }
}
